* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}
body {
  background-color: #202824;
}

@import url("https://fonts.cdnfonts.com/css/poppins");

/* NavBar Styling */

/* .navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 34px 103px 34px 97px;
}
.navBar .logo-tittle {
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  color: rgb(84, 164, 226);
}
.navBar .nav-sec-links {
  display: flex;
  list-style: none;
  gap: 61px;
}
.navBar .nav-sec-links li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  color: rgb(84, 164, 226);
}
.navBar .search-bar {
  display: flex;
  list-style: none;
  gap: 29px;
}
.navBar .search-bar li i {
  width: 20px;
  color: rgb(85, 69, 165);
}
.content {
  margin: 34px 103px 34px 97px;
} */
.navBar {
  display: flex;
}
.navBar .logo-tittle {
  align-items: center;
  justify-content: space-between;
  margin: 20px auto 20px auto;
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  color: rgb(84, 164, 226);
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*form stylling*/
.form-container {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container legend {
  color: #c3b9b9;
  font-size: 1.25rem;
  font-weight: 500;
}

.form-top {
  width: 100%;
  height: 70px;
}
.due-date {
  height: 70px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background: transparent;
  color: #fff;
}
.task-tittle,
.add-task-btn {
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background: transparent;
  color: #fff;
  padding: 15px;
}
.task-content {
  height: 120px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background: transparent;
  color: #fff;
  padding: 15px;
}
fieldset {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background: transparent;
  color: #fff;
}
/* category  */

.category:first-of-type,
.Priority-levels:first-of-type {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

label {
  margin-right: 15px;
  line-height: 32px;
  color: #fff;
}

.input-tag,
.input-level {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

.input-tag:checked,
.input-level:checked {
  border: 6px solid #ff3333;
}

legend {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background: transparent;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
}

.form-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 85%;
}
.form-bottom button:hover {
  background-color: #55e6a5;
}
.taskless {
  color: #ff3333;
}
/* task styling */
.taskList-container,
.taskless {
  width: 50%;
}
.taskless .Task-List {
  margin-top: 40px;
  width: 100%;
  color: rgb(78, 179, 234);
}
.task {
  background-color: rgba(83, 82, 82, 0.76);
  border-radius: 10px;
  padding: 5px 9px;
  margin-top: 5px;
  display: flex;
  transition: opacity 0.3s linear;
}
.task span {
  flex-grow: 1;
}
.task svg {
  height: 16px;
  margin-right: 4px;
  fill: #55cbe6;
}
.task.done {
  opacity: 0.3;
  text-decoration: line-through;
}
.delete,
.edit {
  background-color: #837f7f00;
  border: none;
}
.delete svg {
  fill: #999;
  margin-left: 4px;
}
